*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: rgb(78, 171, 184);
    padding: 20px;
    justify-content: space-around;
    justify-items: center;

    box-shadow: 0px 7px;;
   
}

header h1{
    background-color: black;
    border-radius: 10px;
    padding: 10px;

    font-family: Helvetica;
    color: white;
    text-shadow: 4px 4px black;
}

header ul{
    height: 0;
    display: flex;
    list-style-type: none;

}

ul li a{
    font-size: 28px;
}

header a{
    color: white;
    text-decoration: none;

    text-shadow: 4px 4px black;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

header a:hover{
    color: rgb(148, 243, 255);
    
}

body{
    height: auto;
    min-height: 752px;

    background-image: url(https://images4.alphacoders.com/804/804778.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section1{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;

    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px;
    text-indent: 3em;
}

.section1 h1{
    font-family: Helvetica;
    text-align: center;
    margin-bottom: 10px;

}

.paragrafo{
    padding-top: 10px;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 1.5px;
}
